.top-bar, .top-bar ul{
    background-color: #272A2E
}
#padding-left{
    margin-left: 10vw
}
.menu-text{
    color: white
}.top-bar, .top-bar ul a{
    color: aliceblue
}
.button{
    border-radius: 30px
}
.sign-up{
    margin-left: 200%;
    width: 100%
}
/**************************  Main  ************************/
.main{
    background-image:url(../img/dance_party_lights_new_years_music_sparkle_hd-wallpaper-1288908.jpg);
    height: 90%
}
.overlay{
    background: rgba(0,0,0,0.82);
