.top-bar, .top-bar ul{
    background-color: #272A2E
}
#padding-left{
    margin-left: 10vw
}
.menu-text{
    color: white
}.top-bar, .top-bar ul a{
    color: aliceblue
}
.button{
    border-radius: 30px
}
.sign-up{
    margin-left: 200%;
    width: 100%
}
